.nav {
  text-align: center;
  background-color: #2b8b8b;
  color: #ffffff;
  padding: 1.5rem;
}

.message {
  text-align: center;
  margin: 2rem;
}

.error {
  color: #ff0000;
}

.transactions-table {
  margin: 2rem auto;
  min-width: 90%;
  border-collapse: collapse;
  background-color: white;
  text-align: left;
}

.transactions-table td, .transactions-table th {
  padding: 0.75rem;
}

.transactions-header {
  background-color: #ffffff;
  color: #319b9e;
}

.transactions-item {
  background-color: #fafaf8;
  color: #3e3f44;
  border-top: 1px solid #ececec;
}

.transaction-cell-right {
  text-align: right;
}

.transaction-row-debit {
  color: #319b9e;
}